@charset "utf-8";

/*ν—¤λ”*/

#header {
    padding: 20px 0;
    background: #fef9ef;
    border-bottom: 1px solid #333;
    text-align: center;
}
#header h1 {
    width: 100px;
    margin: 0 auto;
}
#header h1 img {
    width: 100%;
    display: block;
    
}
.panel {
    position: absolute;
    top: 23px;
    right: 30px;
}
.panel span {
    margin: 5px 0;
}
.panel a::before,.panel span,.panel a::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: #333;
    text-indent: -9999px;
}

.panelBg {
    background: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
}

.panelMenu{
    position: fixed;
    top: 0;
    right: 0;  
    width: 0;
    padding: 40px 0;
    overflow: hidden;
    height: 100%;
    background: #fef9ef;
    box-sizing: border-box;
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    transition: width 0.3s;
    z-index: 9;
}
.panelMenu li {
    margin-bottom: 15px;
    margin-left: 40px;
}
.panelMenu a {
    color: #333;
}
.panelMenu .menuLogo {
    width: 100px;
    margin-bottom: 50px;
}
.menuLogo img{
    width: 100%;
}
.login {
    position: absolute;
    font-size: 12px;
    right: 40px;
    bottom: 20px;
}
.login li{
    float: left;
    margin-left: 20px;
}
.close {
    position: absolute;
    right: 25px;
    top: 15px;
}
/*ν‘Έν„°*/
#footer {
    
}
.fTop {
    padding: 30px 20px 20px 20px;
    background: #32302e;
    font-size: 11px;
    font-weight: 100;
    color: #fff;
}
.fList {
    margin-bottom: 20px;
}
.fList:last-child{
    margin-bottom: 0px;
}
.fList ul{
    width: 100px;
    float: left;
    margin-right: 80px;
    
}
.fList ul:nth-child(2n){
    margin-right: 0;
}
.fList ul li {
    margin-bottom: 10px;
}
.fList ul li:first-child {
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}
#footer .sns .none {border-bottom: 0;}
.fList li a {color: #fff;}

.sns .icon li {
    float: left;
    margin-right: 12px;

}
.sns .icon li:first-child {
    border-bottom: 0;
    padding-bottom: 0;
}
.sns li a {
    font-size: 14px;
    font-weight: 900;
}

.fBottom {
    padding: 20px;
    height: 85px;
    background: #262524;
    position: relative;
    
}

.fInfo {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -45px;
}
.fLogo {
    display: inline-block;
    line-height: 85px;
}
.fLogo img {
    width: 62px;
}
.fInfo span {
    color: #fff;
    font-size: 10px;
    font-weight: 100;
    display: block;
}
